<h3 class="text-centeF">Transaction statistics</h3>
      <div class="table-responsive">
        <table class="table table-bordered table-sm text-center">
          <thead>
            <tr>
              <th scope="col">Total success exchange fee</th>
              <th scope="col">Total transactions</th>
              <th scope="col">Total success transactions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= total_ex_fee %></td>
              <td><%= total_tx %></td>
              <td><%= total_success_tx %></td>
            </tr>
          </tbody>
        </table>
      </div>
