<div class="container py-3">
  <%= render 'statistics', transactions: @transactions, all_transactions: @all_transactions %>
  <hr class="my-4">
  <%= render 'transactions', transactions: @transactions, all_transactions: @all_transactions %>
</div>


