<div class="container py-3">
  <%= render 'statistics', total_ex_fee: total_ex_fee, total_tx: total_tx, total_success_tx: total_success_tx %>
  <hr class="my-4">
  <%= render 'transactions', transactions: transactions %>
</div>

